@use "sass:map";


@mixin disabled($theme, $action:"primary") {


    background-color: map.get($theme, "disabled-bg-color");
    color: map.get($theme, "disabled-text-color");
    pointer-events: none;

    @if($action=='secondary') {
        border-color: map.get($theme, "disabled-text-color");
    }
}

@mixin hover($theme, $action:"primary") {

    background-color: map.get($theme, "hover-bg-color");
    color: map.get($theme, "hover-text-color");
    pointer-events: none;

    @if($action=='secondary') {
        border-color: map.get($theme, "hover-text-color");
    }
}


@mixin variant($theme, $action:"primary") {
    background-color: map.get($theme, "idle-bg-color");
    color: map.get($theme, "idle-text-color");

    &:disabled {
        @include disabled($theme, $action);
    }

    &:hover {
        @include hover($theme, $action);
    }
}